<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hgad.warehousemanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WareHouseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.InWareChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.InWareByHandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OutWareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChangeWareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ScanResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChangePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WeatherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OtherInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.IpSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddIpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CheckRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProductListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VersionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GeneralToolsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FaroriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CheckDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CheckResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SystemSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HandOperateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ApplyOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OutResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReviewResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HistoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReviewListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CheckStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zxing.activity.ScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OperateResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DataSynActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zxing.activity.QrScanActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DataStatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CheckHouseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CheckFloorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CheckExceptionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.GroupActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AddMemberActivity"
            android:screenOrientation="portrait" />


        <service android:name=".ui.service.PushService" />

        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name=".ui.receiver.PushReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
    </application>

</manifest>